@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './static/detail.css';
@import './static/result.css';
body {
    font-family: Roboto;
    background-color: black
}

.xxl-font {
    font-size: 2.5rem
}

.xl-font{
    font-size: 2rem
}

.font{
    font-size: 1.5
}

.s-font {

}

.jumboError {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}